<div *ngIf="!editAdminStatus" class="update-admin mt-5 text-center">
    <img width="200px" height="200px" [src]="profileImage" alt="">
    <button (click)="editAdminBtnClicked()" class="btn btn-link fs-5 mt-3"><i class="fa-solid fa-pen"></i> Edit Admin Details</button>
</div>

<div *ngIf="editAdminStatus" class="update-details mt-5 text-center">
    <h5 style="height: 30px;" class="fs-5">Update Admin Details</h5>
   
    <label>
        <input (change)="getFile($event)"  type="file"  style="display: none;" >
        <img width="150px" height="150px" [src]="profileImage" alt="">
    </label>
    <input [(ngModel)]="adminDetails.name" type="text" placeholder="Admin Name" class="form-control mb-2">
    <input [(ngModel)]="adminDetails.password" type="text" placeholder="Admin Password" class="form-control mb-2">
    <div class="d-flex justify-content-evenly mt-3">
        <input (click)="cancel()" type="button" class="btn btn-warning" value="Cancel">
        <input (click)="updatAdmin()" type="button" class="btn btn-success" value="Update">
    </div>
</div>
